# Backend API URL
VITE_API_URL=https://aevix-chemical-mpbw.vercel.app

# Email Configuration for OTP (using Gmail SMTP)
EMAIL_USER=kayalabhi04@gmail.com
EMAIL_PASS=gigigoplfivuedrt

# MongoDB Connection
MONGODB_URI=your_mongodb_connection_string_here
